.dashboard-nav__account-btn {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    object-fit: cover;
}

.dashboard-nav__accounts-container {
    position: relative;
}

.dashboard-nav__active-status-indicator {
    width: 10px;
    height: 10px;
    background-color: var(--online);
    border-radius: 50%;
    position: absolute;
    bottom: 10px;
}

.dashboard-nav__icons {
    width: 32px;
    height: 32px;
    margin-right: 18px;
}

.dashboard-nav__left-area {
    flex: 3;
    height: 100%;
    display: flex;
    margin-left: var(--margin-on-horizontal-sides);
    align-items: center;
}

.dashboard-nav__notification-box {
    width: 295px;
    height: auto;
    max-height: 40vh;
    background-color: var(--secondary-color);
    position: absolute;
    top: 55px;
    border-radius: 4px;
    padding: 18px;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid var(--online);
    -webkit-box-shadow: 0px 0px 18px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 18px -2px rgba(0,0,0,0.75);
box-shadow: 0px 0px 18px -2px rgba(0,0,0,0.75);
}

.dashboard-nav__notification-box::-webkit-scrollbar 
{
    width: 2px;
}

.dashboard-nav__notification-box h1 {
    font-size: 1.2rem;
    margin-bottom: 12px;
}

.dashboard-nav__notification-container {
    position: relative;
}

.dashboard-nav__personal-account-section {
    margin-left: 20px;
    position: relative;
}

.dashboard-nav__right-area {
    flex: 7;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: var(--margin-on-horizontal-sides);
}

.dashboard-nav__search-bar {
    width: 100%;
    height: 100%;
    background-color: var(--secondary-color);
    /* border-radius: 8px; */
    border-radius: 8px 0px 0px 8px;
    border: none;
    font-size: 1rem;
    padding: 0 1em;
    color: var(--font-color);
    -webkit-box-shadow: 0px 0px 18px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 18px -2px rgba(0,0,0,0.75);
box-shadow: 0px 0px 18px -2px rgba(0,0,0,0.75);
}

.dashboard-nav__search-bar:focus {
    /* border: 1px solid var(--color-for-outline); */
    outline: none;
}

.dashboard-nav__search-container {
    width: 400px;
    height: 45px;
}

.dashboard-nav__search-form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.dashboard-nav__search-go-button {
    width: 30%;
    height: 100%;
    background-color: var(--secondary-color);
    outline: none;
    border: none;
    color: var(--font-color);
    border-radius: 0 8px 8px 0;
    font-weight: 700;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 0px 0px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 0px -2px rgba(0,0,0,0.75);
box-shadow: 0px 0px 0px -2px rgba(0,0,0,0.75);
}

.dashboard-nav__search-go-img {
    margin-left: 12px;
}

.main-dashboard__nav {
    width: 100vw;
    height: 72px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}